@font-face {
  font-family: "Geograph";
  src: url("../fonts/geographwebmedium.ttf");
}
* {
  font-family: "Geograph";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
